* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header img {
  padding-left: 40px;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  display: flex;
  padding-right: 30px;
}

main {
  display: flex;
  justify-content: space-between;
}

main form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

main img {
  height: 500px;
}

.input-container {
  display: flex;
}

footer {
  color: white;
  background-color: rgb(161, 159, 159);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
