* {
  margin: 0;
  padding: 0;
}

body {
  font-family: IM Fell French Canon SC, serif;
  height: 100%;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

main img {
  height: 500px;
}

.header img {
  padding-left: 40px;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  display: flex;
  padding-right: 30px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

main form {
  display: flex;
  flex-direction: column;
  width: 675px;
  
  /* visibility: hidden; */
}

.input-container {
  display: flex;
}

footer {
  color: white;
  background-color: rgb(161, 159, 159);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.textarea-container {
  position: relative;
  max-width: 450px;
  max-height: 140px;
}

.textarea-container > span {
  position: absolute;
  bottom: 6px;
  right: 10px;
}

.textarea-container > textarea {
  width: 100%;
  max-width: 450px;
  max-height: 140px;
}
