* {
  margin: 0;
  padding: 0;
}

body {
  font-family: IM Fell French Canon SC, serif;
  height: 100%;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

main img {
  height: 500px;
  width: 350px;
}

.header img {
  padding: 0% 7%;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  margin: 0% 7%;
  display: flex;
  flex-flow: row wrap;
}

.headerInputs {
  padding: 3px 7px;
  margin: 2px 9px;
  border: 1px solid black;
  border-radius: 7px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

main form {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin-left: 5%;
}

main form div label {
  margin-top: 6.5px;
  padding: 1.3px 0;
}

main form div input {
  margin: 2px 4px;
  padding: 6px 0;
}

.input-container {
  display: flex;
  margin-top: 7px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 0;
}

footer {
  color: white;
  background-color: rgb(161, 159, 159);
  display: flex;
  height: 68px;
  align-items: center;
  justify-content: center;
}

.textarea-container {
  position: relative;
  max-width: 450px;
  max-height: 140px;
}

.textarea-container > span {
  position: absolute;
  bottom: 6px;
  right: 10px;
}

.textarea-container > textarea {
  width: 100%;
  max-width: 450px;
  max-height: 140px;
}
